img {
  max-width:100%;
}

body {
  font-family: Verdana;
  background: linear-gradient(to right, #0e5073, #4f8ca6);
  margin:0;
  padding:0;
}

header, nav, main, footer, aside, form, .call, article, section, .fig2{
   border-radius:5px;
}

header {
    grid-area:header;
    background:#bf212e;
    text-align:center;
}

.headerpic {
    grid-area:headerpic;
    padding:5px;
    height:10vmax;
 
    }

.headertext {
    grid-area:headertext;
    text-align:center;
    
    }
    
.headerwrapper {
    display:grid;
    justify-items: center;
    align-items:center;
    grid-template-columns:25% auto;
    grid-template-areas:
    "headerpic headertext";
    }

header h1 {
     font-size:3vw;
     color:#ffffff;
     font-family:Veranda;
     text-shadow: 2px 2px 5px #0e5073;
     margin: 0;
}

header h3 {
    font-size:2vw;
    color:#ffffff;
    margin:0;
    font-family:Veranda;
}

nav {
    grid-area:nav;
    background:#cac537;
    max-height:400px;
    }

nav li {
    padding:10px 10px;
    list-style-type:none;
    font-size:1.5em;
    font-weight:bold;
    font-family:veranda;
}

nav a {
    text-decoration:none;
    color:#ffffff;
}
nav a:hover {
    text-shadow: 2px 2px 5px #3217ff;
}

main {
    grid-area:main;
    background:#A4C4FE;
    color:black;
    padding:5px;
    }
    
main h2 {
    text-align:center;
    margin:1%;
}

main p {
    color:#000080;
    padding:1% 2%;
    font-size:1em;
}

main a {
 color:navy;
}

footer {
  font-family:veranda;
  color:white;
  grid-area:footer
}

/*-------------------mobile layout----------------------*/
.container1 { /*for index.html*/
  display: grid;
  grid-template-columns:1fr;
  grid-gap:.5em;
  margin:1%;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}
.toggleNav {
    display:grid; /*This is what allows the hamburger icon and "Menu" to display*/
    text-align:center;
    font-size:1.5em;
    font-weight:bold;
    padding:10px;
    }

#flex-nav ul {
    display: none; /*jQuery toggles the nav from to this class to the .open when clicked*/
    text-align:center;
    list-style: none;
    margin: 0;
    padding: 0;
    }
 
#flex-nav ul.open { /*.open is the class that gets toggled when clicked (with help from the jQuery code)*/
    display:grid;
    }
    
#flex-nav li {
    padding-left:10px;
    padding-top:10px;
    }
    
/*-----------------------Tablet Media Query------------------------*/
@media only screen and (min-width: 480px)  {
  .container1 { /*for index.html*/
  grid-template-columns:25% 1fr;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
    }

/* Below will change from hamburger menu to side navigation*/
  
.toggleNav {
    display: none; /*Makes the hamburger icon with the word "Menu" to disappear at this screen size*/
  }
  
#flex-nav ul {
    display:grid;
    text-align:left;
  }

#flex-nav li {
    padding-left:10px;
    padding-top:10px;
  }
	}
/*-----------------------Desktop Media Query------------------------*/
@media only screen and (min-width: 960px)  {

.container1 { /*for index.html*/
  grid-template-columns:auto 1fr;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
    }
.nestedgrid {
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-areas:
  "div1 div2";
}
}
